.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 40px 100px 40px;
    max-width: 100%;
}

.image-wrapper {
    display: flex;
    position: relative;
    width: max-content;
    align-self: center;
    justify-content: center;
}

.company-image {
    z-index: 3;
    width: 70%;
    height: auto;
    margin: 50px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* First Rectangle */
.image-wrapper::before {
    content: '';
    position: absolute;
    top: 3%;
    left: 10%;
    width: 70%;
    height: 80%;
    background-color: #8FD5A6;
    z-index: 1;
    transform: translate(-20px, -20px);
    box-shadow: 0px 0px 20px #000000;
}

/* Second Rectangle */
.image-wrapper::after {
    content: '';
    position: absolute;
    top: 18%;
    left: 20%;
    width: 70%;
    height: 80%;
    background-color: #0D5D56;
    z-index: 2;
    transform: translate(20px, 20px);
    box-shadow: 0px 0px 20px #000000;
}

.company-text {
    max-width: 90%;
}

.company-text h1 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 4.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.company-text p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.about-cards {
    padding: 20px 30px 100px 30px;
    text-align: center;
    background-image: url(/assets/images/about-cards-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-cards h2 {
    font-family: 'Patua One', Times, serif;
    font-size: 3.5rem;
    letter-spacing: 2.2px;
}

.about-cards p {
    font-size: 1.8rem;
    padding: 30px 200px 60px 200px;
    line-height: 1.5;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    width: 150px;
    flex: 1;
}

.card img {
    width: 20%;
}

.card h3 {
    font-family: 'Patua One', Times, serif;
    font-size: 2rem;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    padding: 20px 0px;
}

.card p {
    font-size: 1.8rem;
    padding: 20px 40px;
}

.cta-button {
    font-size: 2rem;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #E5C2C0;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* Responsive Styling */
@media (max-width: 1650px) {
    .image-wrapper::before {
        left: 25%;
        width: 45%;
    }

    .company-image {
        width: 40%;
    }

    .image-wrapper::after {
        left: 30%;
        width: 45%;
    }

    .company-text {
        width: 80%;
    }

    .company-text h1 {
        padding-top: 20px;
    }

    .company-text p {
        padding: 10px 0;
    }
}

@media (max-width: 1400px) {
    .image-wrapper::before {
        left: 25%;
        width: 40%;
    }

    .company-image {
        width: 40%;
    }

    .image-wrapper::after {
        left: 35%;
        width: 40%;
    }

    .company-text {
        width: 80%;
    }

    .company-text h1 {
        font-size: 4rem;
    }

    .company-text p {
        font-size: 1.7rem;
    }

    .about-cards {
        background-image: url(/assets/images/about-cards-background-medium.webp);
        background-position: bottom;
        background-size: contain;
    }

    .about-cards h2 {
        font-size: 3.2rem;
    }

    .about-cards p {
        font-size: 1.7rem;
    }

    .card h3 {
        font-size: 1.8rem;
    }

    .card p {
        font-size: 1.7rem;
        padding: 20px 40px;
    }

    .cta-button {
        font-size: 1.8rem;
    }
}

@media (max-width: 1250px) {
    .image-wrapper::before {
        top: 8%;
        left: 32%;
        width: 30%;
        height: 65%;
    }

    .company-image {
        width: 30%;
    }

    .image-wrapper::after {
        left: 38%;
        width: 30%;
        height: 70%;
    }
}

@media (max-width: 1150px) {
    .company-text {
        width: 70%;
    }

    .company-text h1 {
        font-size: 3.5rem;
    }

    .company-text p {
        font-size: 1.5rem;
    }

    .about-cards h2 {
        font-size: 3rem;
    }

    .about-cards p {
        font-size: 1.5rem;
    }

    .card h3 {
        font-size: 1.7rem;
    }

    .card p {
        font-size: 1.5rem;
        padding: 20px 30px;
    }

    .cta-button {
        font-size: 1.6rem;
    }
}

@media (max-width: 1040px) {
    .about {
        padding: 30px 30px 90px 30px;
    }

    .company-text {
        width: 80%;
    }

    .company-text h1 {
        font-size: 3rem;
    }

    .company-text p {
        font-size: 1.4rem;
    }

    .about-cards p {
        padding: 30px 100px 60px 100px;
        line-height: 1.5;
    }

    .about-cards h2 {
        font-size: 2.8rem;
    }

    .about-cards p {
        font-size: 1.4rem;
    }

    .cards-wrapper {
        gap: 20px;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.4rem;
        padding: 10px;
    }

    .cta-button {
        font-size: 1.5rem;
    }
}

@media (max-width: 790px) {
    .about {
        padding: 50px 20px 80px 20px;
    }

    .image-wrapper {
        width: 100%;
    }

    .image-wrapper::before {
        top: 19%;
        left: 39%;
        width: 20%;
        height: 60%;
    }

    .company-image {
        width: 20%;
    }

    .image-wrapper::after {
        top: 20%;
        left: 41%;
        width: 20%;
        height: 60%;
    }

    .company-text h1 {
        font-size: 2.5rem;
    }

    .company-text p {
        font-size: 1.3rem;
    }

    .about-cards p {
        padding: 30px 100px 60px 100px;
        line-height: 1.4;
    }

    .about-cards h2 {
        font-size: 2.5rem;
    }

    .about-cards p {
        font-size: 1.3rem;
    }

    .cards-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .card {
        width: 90%;
    }

    .card img {
        width: 10%;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .card p {
        font-size: 1.3rem;
        padding: 10px;
    }

    .cta-button {
        font-size: 1.3rem;
        margin-top: 40px;
    }

    .about-cards {
        padding: 20px 30px 80px 30px;
    }
}

@media (max-width: 700px) {
    .about {
        padding: 30px 20px 50px 20px;
    }

    .image-wrapper::before {
        top: 22%;
        left: 37%;
        width: 25%;
        height: 60%;
    }

    .company-image {
        width: 25%;
    }

    .image-wrapper::after {
        top: 20%;
        left: 39%;
        width: 25%;
        height: 60%;
    }
}

@media (max-width: 470px) {
    .image-wrapper::before {
        top: 20%;
        left: 28%;
        width: 40%;
        height: 60%;
    }

    .company-image {
        width: 40%;
    }

    .image-wrapper::after {
        top: 20%;
        left: 33%;
        width: 40%;
        height: 60%;
    }

    .company-text h1 {
        font-size: 2rem;
    }

    .company-text p {
        font-size: 1rem;
        padding: 0;
    }

    .about-cards {
        padding: 30px 20px 50px 20px;
    }

    .about-cards h2 {
        font-size: 1.7rem;
    }

    .about-cards p {
        font-size: 1rem;
        padding: 20px;
    }

    .cards-wrapper {
        gap: 10px;
    }

    .card {
        padding: 0;
    }

    .card h3 {
        font-size: 1.3rem;
        padding: 10px 0;
    }

    .cta-button {
        font-size: 1rem;
        font-weight: bold;
        margin: 30px;
    }
}

@media (max-width: 435px) {
    .about {
        padding: 30px 20px 50px 20px;
    }
}