main {
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 3.5rem;
    padding: 20px 100px;
}

h2 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact-container {
    background-image: url(/assets/images/contact-us-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 230px;
    box-sizing: border-box;
}

.contact-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(143, 213, 166, 0.5);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-bottom: 2px solid #8FD5A6;
}

input::placeholder, textarea::placeholder {
    color: #000000;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

select {
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    outline: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10px;
    background-size: 10px;
    cursor: pointer;
}

select:focus {
    border-bottom: 2px solid #8FD5A6;
}

button {
    width: 40%;
    background-color: #0D5D56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #8FD5A6;
    color: #000000;
}

#response-message {
    display: none;
    font-size: 1.5rem;
    margin-top: 20px;
}

.contact-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-2 p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact-2 a {
    text-decoration: none;
    color: #FFFFFF;
}

.contact-2 a:hover {
    text-decoration: none;
    color: #000000;
}

/* Social Media if Available */
/*.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon.facebook {
    background-image: url(/assets/images/facebook-svg.svg);
}

.social-icon.facebook:hover {
    background-image: url(/assets/images/facebook-svg-hover.svg);
    transform: scale(1.2);
}

.social-icon.instagram {
    background-image: url(/assets/images/instagram-svg.svg);
}

.social-icon.instagram:hover {
    background-image: url(/assets/images/instagram-svg-hover.svg);
    transform: scale(1.2);
}*/

/* Responsive Design */
@media (max-width: 1750px) {
    .contact-container {
        background-image: url(/assets/images/contact-us-background-medium.webp);
    }
}

@media (max-width: 1550px) {
    .contact-container {
        background-image: url(/assets/images/contact-us-background-small.webp);
    }
}

@media (max-width: 1350px) {
    .contact-container {
        background-size: contain;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .contact-2 p {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    button {
        width: 35%;
        font-size: 1.1rem;
    }
}

@media (max-width: 1150px) {
    .contact-container {
        flex-direction: column;
        background-image: url(/assets/images/contact-us-background-column.webp);
        background-size: cover;
        padding: 0;
    }
}

@media (max-width: 1040px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .contact-2 p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    button {
        width: 30%;
        font-size: 1rem;
    }
}

@media (max-width: 790px) {
    h1 {
        font-size: 2.5rem;
        padding: 30px;
    }

    form {
        max-width: 70%;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    .contact-container {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    form {
        max-width: 100%;
    }

    button {
        width: 30%;
    }

    .contact-1 {
        border-bottom: 2px solid #8FD5A6;
        padding: 10px 10px 60px 10px;
    }

    .contact-2 p {
        font-size: 1rem;
    }
}