/* Hero styling section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin-top: 40px;
}

.hero-text {
    background-image: url(/assets/images/hero-text-background.webp);
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h1 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 3rem;
    padding-left: 80px;
    margin-right: 70px;
}

.hero-text a {
    text-decoration: none;
}

.italic {
    font-family: 'Radley', serif;
    font-style: italic;
    font-size: 3.2rem;
}

.hero-text p {
    font-family: 'Sedan', serif;
    font-size: 1.5rem;
    margin: 20px 0;
    margin-right: 50px;
    padding-left: 80px;
}

.hero-text button {
    padding: 10px 15px;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 1.1rem;
    color: #000000;
    background-color: #E5C2C0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #8FD5A6;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 100%;
}

.hero-image img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

/* Innovative Solutions section */
.innovative-solutions {
    background-image: url(/assets/images/solutions-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.innovative-solutions h2 {
    font-family: 'Patua One', Times, serif;
    font-size: 2rem;
    color: #0C8346;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 40px;
}

.solutions-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.solutions-top img {
    width: 60px;
    height: 60px;
}

.solutions-top p {
    font-family: 'Sedan', serif;
    font-size: 1.3rem;
    color: #000000;
    padding: 50px 250px;
    line-height: 1.8;
}

.solutions-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding-bottom: 50px;
}

.card {
    width: 400px;
    height: 500px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 60px;
    height: 60px;
}

.card h3 {
    font-size: 1.25rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #000000;
    text-align: left;
    padding: 20px 30px;
    line-height: 1.5;
}

/* Portfolio section */
.portfolio h2 {
    font-family: 'Patua One', Times, serif;
    font-size: 2rem;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 40px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding-bottom: 50px;
}

.portfolio-card {
    width: 400px;
    height: 500px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 10px 50px 10px 50px;
    transition: transform 0.3s;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-card img {
    width: 100%;
    height: auto;
}

.portfolio-card h3 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 1.5rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio-card p {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    padding: 20px 30px;
    line-height: 1.5;
}

.portfolio-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0D5D56;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.portfolio-link:hover {
    background-color: #329F5B;
    color: #000000;
    border: 1px solid #000000;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .hero-text {
        background-image: none;
    }

    .hero h1 {
        font-size: 2rem;
        padding-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .hero-text p {
        font-size: 1.2rem;
        padding-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .hero-text button {
        margin-left: 0;
        margin-top: 20px;
        width: auto;
        display: block;
        margin: 0 auto;
    }

    .hero-image {
        background-image: url(/assets/images/hero-text-background.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 100%;
        margin-top: 20px;
    }

    /* Solutions Section */
    .solutions-top p {
        padding: 20px;
        font-size: 1rem;
    }

    .solutions-card-container {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Portfolio Section */
    .portfolio-container {
        flex-direction: column;
        align-items: stretch;
    }

    .portfolio-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .portfolio-card img {
        max-width: 100%;
        height: auto;
    }
}