/* Hero styling section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}

.hero-text {
    background-image: url(/assets/images/hero-text-background.webp);
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h1 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 4rem;
    padding-left: 100px;
    margin-right: 200px;
}

.italic {
    font-family: 'Radley', serif;
    font-style: italic;
    font-size: 4.5rem;
}

.hero-text p {
    font-family: 'Sedan', serif;
    font-size: 2rem;
    margin: 20px 0;
    margin-right: 200px;
    padding-left: 100px;
}

.cta-button {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    background: linear-gradient(90deg, #8FD5A6, #FFFFFF, #0D5D56);
    background-size: 200% 100%;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cta-button:hover {
    background-position: 100% 0;
    transform: scale(1.05);
    transition: background-position 1.2s ease-in-out, transform 0.3s ease;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 100%;
}

.hero-image img {
    width: 830px;
    height: 580px;
    margin-bottom: 60px;
}

/* Innovative Solutions section */
.innovative-solutions {
    background-color: #FFFFFF;
    background-image: url(/assets/images/solutions-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.innovative-solutions h2 {
    font-family: 'Patua One', Times, serif;
    font-size: 3rem;
    color: #0C8346;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 40px;
}

.solutions-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.solutions-top img {
    width: 90px;
    height: 90px;
}

.solutions-top p {
    font-family: 'Sedan', serif;
    font-size: 1.5rem;
    color: #000000;
    padding: 50px 250px;
    line-height: 1.8;
}

.solutions-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding-bottom: 100px;
}

.card {
    width: 400px;
    height: 500px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 90px;
    height: 90px;
}

.card h3 {
    font-size: 1.6rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.3rem;
    color: #000000;
    text-align: left;
    padding: 20px 30px;
    line-height: 1.5;
}

/* Portfolio section */
.portfolio h2 {
    font-family: 'Patua One', Times, serif;
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 40px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 20px;
    padding-bottom: 50px;
}

.portfolio-card {
    width: 500px;
    height: 600px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 10px 50px 10px 50px;
    transition: transform 0.3s;
    background-image: url(/assets/images/portfolio-card-background.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-card img {
    width: 90%;
    height: auto;
}

.portfolio-card h3 {
    font-family: 'Radley', Georgia, Times, serif;
    font-size: 2rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio-card p {
    font-size: 1.4rem;
    color: #000000;
    text-align: center;
    padding: 30px;
    line-height: 1.5;
}

.portfolio-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0D5D56;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.4rem;
}

.portfolio-link:hover {
    background-color: #329F5B;
    color: #000000;
    border: 1px solid #000000;
}

/* Responsive styles */
@media (max-width: 1750px) {
    .hero-text h1 {
        font-size: 3.8rem;
        margin-right: 0px;
    }

    .italic {
        font-size: 4.2rem;
    }

    .hero-text p {
        font-size: 1.9rem;
        margin-right: 100px;
    }

    .hero-image img {
        width: 800px;
        height: 550px;
    }

    .portfolio-card {
        width: 440px;
    }
}

@media (max-width: 1550px) {
    .hero-text {
        background-image: url(/assets/images/hero-text-background-medium.webp);
    }

    .hero-text h1 {
        font-size: 3.5rem;
        margin-right: 90px;
    }

    .italic {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1.8rem;
        margin-right: 100px;
    }

    .hero-image img {
        width: 730px;
        height: 500px;
    }

    .innovative-solutions {
        background-image: url(/assets/images/solutions-background-medium.webp);
        background-size: contain;
        background-position: bottom;
    }
}

@media (max-width: 1445px) {
    .hero-text h1 {
        font-size: 3.3rem;
        margin-right: 50px;
    }

    .italic {
        font-size: 3.8rem;
    }

    .hero-text p {
        font-size: 1.7rem;
        margin-right: 60px;
    }

    .hero-image img {
        width: 680px;
        height: 460px;
    }

    .portfolio-card {
        width: 420px;
        height: 500px;
    }

    .portfolio-card img {
        width: 70%;
    }

    .portfolio-card h3 {
        font-size: 1.8rem;
    }

    .portfolio-card p {
        font-size: 1.3rem;
        padding: 20px;
        line-height: 1.4;
    }

    .portfolio-link {
        font-size: 1.3rem;
    }
}

@media (max-width: 1400px) {
    .portfolio-card {
        width: 380px;
        height: 480px;
    }
}

@media (max-width: 1350px) {
    .hero-text h1 {
        font-size: 3rem;
        margin-right: 20px;
    }

    .italic {
        font-size: 3.5rem;
    }

    .hero-text p {
        font-size: 1.6rem;
        margin-right: 30px;
    }

    .cta-button {
        font-size: 1.4rem;
    }

    .hero-image img {
        width: 590px;
        height: 410px;
    }

    .innovative-solutions h2 {
        font-size: 2.5rem;
        letter-spacing: 2.3px;
    }

    .solutions-top p {
        padding: 50px 170px;
        line-height: 1.8;
    }

    .portfolio h2 {
        font-size: 2.5rem;
        letter-spacing: 2.3px;
    }
}

@media (max-width: 1260px) {
    .hero-text h1 {
        font-size: 2.8rem;
        margin-right: 10px;
        padding-left: 50px;
    }

    .italic {
        font-size: 3.2rem;
    }

    .hero-text p {
        font-size: 1.5rem;
        margin-right: 10px;
        padding-left: 50px;
    }

    .cta-button {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-left: 50px;
    }

    .hero-image img {
        width: 550px;
        height: 413px;
    }

    .portfolio-container {
        justify-content: center;
        gap: 60px;
    }

    .portfolio-card {
        width: 320px;
        height: 430px;
    }

    .portfolio-card img {
        width: 60%;
    }

    .portfolio-card h3 {
        font-size: 1.6rem;
    }

    .portfolio-card p {
        font-size: 1.2rem;
        padding: 10px;
        line-height: 1.3;
    }
}

@media (max-width: 1040px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .italic {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.4rem;
    }

    .cta-button {
        font-size: 1.2rem;
    }

    .hero-image img {
        width: 450px;
        height: 338px;
    }

    .innovative-solutions h2 {
        font-size: 2rem;
        letter-spacing: 2.2px;
    }

    .solutions-top img {
        width: 70px;
        height: 70px;
    }

    .solutions-top p {
        font-size: 1.4rem;
        padding: 40px 130px;
        line-height: 1.7;
    }

    .card img {
        width: 70px;
        height: 70px;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.2rem;
        padding: 10px 20px;
        line-height: 1.4;
    }

    .portfolio h2 {
        font-size: 2rem;
        letter-spacing: 2.2px;
    }

    .portfolio-container {
        flex-direction: column;
        gap: 50px;
    }

    .portfolio-card {
        width: 450px;
        height: 500px;
    }

    .portfolio-card img {
        width: 90%;
    }

    .portfolio-link {
        margin-top: 30px;
        font-size: 1.3rem;
    }
}

@media (max-width: 960px) {
    .hero-image img {
        width: 330px;
        height: 270px;
    }
}

@media (max-width: 880px) {
    .hero-text h1 {
        font-size: 2.2rem;
    }

    .italic {
        font-size: 2.8rem;
    }

    .hero-text p {
        font-size: 1.3rem;
    }

    .cta-button {
        font-size: 1.1rem;
        margin-top: 0;
    }

    .hero-image img {
        width: 300px;
        height: 240px;
    }
}

@media (max-width: 790px) {
    .hero {
        flex-direction: column;
        margin-top: 20px;
    }

    .hero-text {
        background-image: none;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2.2rem;
        padding: 0;
        margin: 30px 150px;
    }

    .italic {
        font-size: 2.8rem;
    }

    .hero-text p {
        font-size: 1.3rem;
        padding: 0;
        margin: 30px 80px;
    }

    .cta-button {
        margin: 20px 0 0 0;
    }

    .hero-image {
        max-width: none;
    }

    .hero-image img {
        width: 280px;
        height: 220px;
        margin: 50px 0;
    }

    .innovative-solutions h2 {
        font-size: 1.8rem;
        padding: 30px 0;
    }

    .solutions-top img {
        width: 60px;
        height: 60px;
    }

    .solutions-top p {
        font-size: 1.2rem;
        padding: 40px 120px;
        line-height: 1.5;
    }

    .card {
        width: 400px;
        height: 550px;
        padding: 10px;
        text-align: center;
    }

    .card img {
        width: 60px;
        height: 60px;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .card p {
        font-size: 1.2rem;
        padding: 10px 10px;
        line-height: 1.3;
    }

    .portfolio h2 {
        font-size: 1.8rem;
        padding: 30px 0;
    }

    .portfolio-card {
        width: 400px;
        height: 450px;
    }

    .portfolio-card img {
        width: 70%;
    }

    .portfolio-card h3 {
        font-size: 1.5rem;
    }

    .portfolio-link {
        margin-top: 20px;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .hero-text h1 {
        font-size: 2rem;
        padding: 0;
        margin: 20px 100px;
    }

    .italic {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.2rem;
        padding: 0;
        margin: 30px 60px;
    }

    .cta-button {
        margin: 10px 0 0 0;
    }

    .hero-image img {
        width: 250px;
        height: 188px;
    }

    .innovative-solutions {
        background-image: url(/assets/images/solutions-background-small.webp);
        background-size: contain;
        background-position: bottom;
        padding-bottom: 40px;
    }

    .innovative-solutions h2 {
        font-size: 1.6rem;
        padding: 20px 0;
    }

    .solutions-top img {
        width: 40px;
        height: 40px;
    }

    .solutions-top p {
        font-size: 1.1rem;
        padding: 40px 80px;
        line-height: 1.4;
    }

    .solutions-card-container {
        flex-direction: column;
        margin: 20px 0 0 0;
        padding: 0;
    }

    .card {
        width: auto;
        height: auto;
        padding: 30px;
        text-align: center;
    }

    .card img {
        width: 50px;
        height: 50px;
    }

    .card p {
        font-size: 1.1rem;
        padding: 10px 40px;
        text-align: center;
    }

    .portfolio h2 {
        font-size: 1.6rem;
        padding: 20px 0;
    }

    .portfolio-card {
        width: 340px;
        height: 380px;
    }

    .portfolio-card img {
        width: 60%;
    }

    .portfolio-card h3 {
        font-size: 1.4rem;
    }

    .portfolio-card p {
        font-size: 1.1rem;
        padding: 5px;
    }

    .portfolio-link {
        margin-top: 30px;
        font-size: 1.1rem;
        padding: 5px 10px;
    }
}

@media (max-width: 470px) {
    .hero-text h1 {
        font-size: 1.8rem;
        padding: 0;
        margin: 20px 50px;
    }

    .italic {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
        margin: 30px 40px;
    }

    .cta-button {
        font-size: 0.9rem;
    }

    .innovative-solutions h2 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    .solutions-top img {
        width: 35px;
        height: 35px;
    }

    .solutions-top p {
        font-size: 1rem;
        padding: 30px 40px;
        line-height: 1.3;
    }

    .solutions-card-container {
        margin: 10px 0 0 0;
    }

    .card {
        padding: 20px;
    }

    .card img {
        width: 45px;
        height: 45px;
    }

    .card h3 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 1rem;
        padding: 10px 30px;
    }

    .portfolio h2 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    .portfolio-card {
        width: 300px;
        height: 360px;
    }

    .portfolio-card img {
        width: 50%;
    }

    .portfolio-card h3 {
        font-size: 1.3rem;
    }

    .portfolio-card p {
        font-size: 1rem;
        margin: 10px;
    }

    .portfolio-link {
        font-size: 1rem;
    }
}